:root{
    --dark-color:#171717;
    --section-color:#eff7fa;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--dark-color);
}
/*Customize link */
.Tlink{
    text-decoration: none;
    margin-right:9px;
}
/*End customize link */
/*Navbar*/
#ttl{
    color: rgb(235, 137, 104);
}
.navbar-brand{
    text-transform: uppercase;
    font-weight: bold;
    color:var(--dark-color);
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link.focus,
.navbar .navbar-nav .nav-link{
    color:var(--dark-color);
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link.focus,
.navbar .navbar-nav .nav-link:hover{
    color:rgb(99, 99, 99);
    font-weight: 500;
    transition: all 0.4s ease-in-out;
    margin-left: 10px;
    margin-right: 10px;
}
.navbar .navbar-toggler{
    font-size:20px;
    border-color:var(--dark-color);
}
.navbar .navbar-toggler:focus{
    box-shadow:none;
}
.navbar .navbar-toggler[aria-expanded="true"]{
    border-color:gray;
}
/*End navbar*/
/*Header*/
.mbr-section-title{
    font-size: 45px;
}
.mbr-section-btn .btn{
    width:120px;
    height: 55px;
    padding: 14px;
    background-color: rgb(235, 137, 104);
    border: none;
}
.mbr-section-btn .btn:hover{
    background-color: rgba(235, 137, 104, 0.32);
}
@media (min-width: 992px){
.col-lg {
    align-self: center;
}.mbr-section-btn{
    text-align: center;
}.mbr-section-title{
    text-align: center;
}.mbr-sec{
    border: 5px dotted rgb(110, 50, 197);
    padding: 10px;
    border-radius: 10px;
    margin-left: 20px;
}
}
 /*end header*/

/*Start section 1*/
.container .row .secOne{
    background-color:#323443;
    height:220px;
}
.container .row  .secOne:hover{
    box-shadow: rgb(235, 137, 104) 0px 0px 0px 4px;
    transition: all 0.3s ease-in-out 0s;
}
/*End section 1*/
/*Start section 4*/
.container .secF{
border-bottom: 2px solid white;
}
.container .rdO{
    background-color: #323443;
    border-radius: 5px;
    outline: 2px solid #323443;
    height:450px
}
.BtnCsT{
    background-color: rgb(27, 115, 249);
    color:white;
    padding: 10px;
    border-radius: 20px;
}
.BtnCsT:hover{
    background-color:rgba(27, 116, 249, 0.52);
}
/*End section 4*/
/*start footer*/
.footer .brd{
    border-top: 2px solid white;
}
.footer .row{
    margin-top:15px;
}
.footer .contact ul svg{
    width:20px;
    height:20px;
}
.footer .links ul li:hover{
    color:white;
}
.footer .facebook{
    background-color: #1877f2;
}
.footer .twitter{
    background-color: #1da1f2;
}
.footer .linkedin{
    background-color: #0077b5;
}
.footer .youtube{
    background-color: #ff0000;
}
.facebook, .twitter,.linkedin,.youtube{
    color:white;
    cursor: pointer;
}
/*end footer*/
